@font-face{
    font-family:'digital-font';
    src: url('./fonts/digital-7\ \(mono\).ttf');
}

@font-face{
    font-family:'roboto';
    src: url('./fonts/Roboto-Bold.ttf');
}


.header{
    font-family: roboto;
    font-size: 150px;
}


body{
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin: 0;
    background-color: #f6f6f6;
}

.header{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content{
    flex: 4;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    min-width: 1900px;
}

.footer{
    flex: 0.7;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}



.calculatorbody{
    padding: 15px;
    height: 600px;
    width: 600px;
    border: 6px solid #333;
    display: flex;
    justify-content: center;
    flex-direction: column;
    justify-content: center;
    align-items: centers;
    border-radius: 5px;
    background-color: #aaa;
    
}


.display{
    margin: 10px;
    flex: 1;
    display: flex;
    justify-content: end;
    padding-right: 10px;
    align-items: center;
    font-family: digital-font;
    font-size: 120px;
    font-weight: 600;
    background-color: #eee;}

.buttons{
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    padding-bottom: 20px;
    flex: 3;
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}

.digits{
    height: 70px;
    width: 130px;
    border-radius: 5px;
    background-color: #eee;
    font-family: roboto;
    font-size: 25px;

}

.c{
    background-color: #faa;
}

.c{
    width: 422px;
}

.equal{
    width: 276px;
    background-color: #B6D0E2;

}

.links{
    font-family: roboto;
    font-size: 25px;
}

a{
    text-decoration: none;
    vertical-align: middle;
}

img{
    vertical-align: middle;
}