.header{
    border: 2px solid red;
}

.footer{
    border: 2px solid red;
}

.content{
    border: 2px solid red;
}

body{
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin: 0;
}

.header{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content{
    flex: 4;
    display: flex;
}

.footer{
    flex: 0.7;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sidebar{
    flex: 1;
    border: 2px solid red;
    display: flex;
    justify-content: space-around;
    padding-top: 40px;
}

.calculator{
    flex:4;
    display: flex;
    justify-content: center;
    align-items: center;

}

.calculatorbody{
    height: 85%;
    width: 35%;
    border: 2px solid red;
    display: flex;
    justify-content: center;
    flex-direction: column;
    justify-content: center;
    align-items: centers;
    
}


.display{
    padding-right: 25px;
    flex: 1;
    display: flex;
    justify-content: end;
    align-items: center;

}

.buttons{
    padding-left: 23px;
    padding-bottom: 20px;
    flex: 3;
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}

.digits{
    height: 70px;
    width: 130px;

}

.c{
    width: 422px;
}

.equal{
    width: 276px;

}

